@model List<StorageCondition>

@{
    ViewBag.Title = "StorageConditions";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("_PurchasingPartial")
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    </head>
    <aside style="margin-top:10px">
        <div class="panel" @*style="border:1px solid"*@>
            <div style="margin-left: 20px">
                <h4>Purchasing > Storage Condition</h4>
                <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("Add", "Purchasing", new { param = "StorageConditionAdd" })'">Add</button>
                <p style="text-align:right; font-size:14px">Page:1 Records:@Model.Count</p>
            </div>
            <table class="table">
                <thead>
                    <tr style="font-size:14px">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr style="font-size:14px">
                            <td width="10%">@item.StorageConditionId</td>
                            <td width="30%">@item.StorageCondition1</td>
                            <td width="30%">@item.StorageConditionDescription</td>
                            <td width="10%">@Html.ActionLink("Edit", "StorageConditionEdit", "Purchasing", new { scId = item.StorageConditionId.ToString() }, null)</td>
                            @*<td width="5%"><input class="btn-edit" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Home")'" /></td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </aside>
    <footer>
        <p style="text-align:center; font-size:14px">Total Pages:1 Records:@Model.Count</p>
    </footer>
}