<div class="menu">
    <div id="nav" class="nav group page__nav">
        <div class="group">
            <button class="dropbtn" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
            @*<button class="dropbtn" onclick="javascript:history.go(-1)">Back</button>*@
            <button class="dropbtn" onclick="location.href='@Url.Action("Settings", "Maintenance")'">Settings</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Add Inventory Item</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Form</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Item Type Master</button>
            <button class="dropbtn" onclick="location.href='@Url.Action("Users", "Maintenance")'">Users</button>
        </div>
    </div>
</div>
