<div class="menu">
    <div id="nav" class="nav group page__nav">
        <div class="group">
            <button class="dropbtn" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
            <button class="dropbtn" onclick="location.href='@Url.Action("BottleChart", "Purchasing")'">Bottle Chart</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Loss Factors</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Location Chart</button>
            <button class="dropbtn" onclick="location.href='@Url.Action("UnitOfMeasures", "Purchasing")'">Unit of Measure</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Item Type</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Item Status</button>
            <button class="dropbtn" onclick="location.href='@Url.Action("Brands", "Purchasing")'">Brand Code Chart</button>
            <button class="dropbtn" onclick="location.href='@Url.Action("StorageConditions", "Purchasing")'">Storage Conditions</button>
            <button class="dropbtn" onclick="location.href='@Url.Action("Quarantines", "Purchasing")'">Quarantine Types</button>
        </div>
    </div>
</div>