@{
    ViewBag.Title = "AllergensForVendor";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("_NutritionPartial")
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
        <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".tt").each(function () {
                    var t = $(this).text().replace(',', '.');
                    $(this).text(t);
                })});
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td1, td2, i;
                input = document.getElementById("inputSearch");
                filter = input.value.toUpperCase();
                table = document.getElementById("table1");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[0];
                    td2 = tr[i].getElementsByTagName("td")[1];
                    if (td1 || td2) {
                        if (td1.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
                document.getElementById("searchIdT").innerHTML = "Total Pages:1 Records:" + parseInt($('tr:visible').length - 1);
                document.getElementById("searchIdB").innerHTML = "Total Pages:1 Records:" + parseInt($('tr:visible').length - 1);
            }
            var numOfVisibleRows = $('tr').filter(function () {
                return $(this).css('display') === '';
            }).length;
            $(document).ready(function () {
                $('.container').on('click', '.radioBtn a', function () {
                    var sel = $(this).data('title');
                    var tog = $(this).data('toggle');
                    $(this).parent().next('.' + tog).prop('value', sel);
                    $(this).parent().find('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
                    $(this).parent().find('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
                });
            });
        </script>
    </head>
    <aside style="margin-top:10px">
        <div class="panel" @*style="border:1px solid"*@>
            <div style="margin-left: 20px">
                <h4>Nutrition > Raw Material > Vendor: @ViewBag.VendorKey > Allergens</h4>
                @*<button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("Add", "Purchasing", new { param = "AddRawMaterial" })'">Add</button>*@

            </div>
            <button style="margin-left:18px; max-width:90px;" class="btn btn-success1" onclick="javascript:history.go(-1)">Back</button>
            <button style="margin-left:18px; max-width:90px;" class="btn btn-success" onclick="location.href='@Url.Action()'">Save</button>
            <table class="table" id="table1">
                <thead>
                    <tr style="font-size:14px">
                        <th>Allergen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.VendorAllergens)
                    {
                        <tr style="font-size:14px">
                            <td>@item.Allergen1</td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-7 col-md-7">
                                        <div class="input-group">
                                            <div class="radioBtn btn-group">
                                                <a class="btn btn-primary active" data-toggle="fun" data-title="F">Free of</a>
                                                <a class="btn btn-primary notActive" data-toggle="fun" data-title="C">Contains</a>
                                                <a class="btn btn-primary notActive" data-toggle="fun" data-title="E">Exempt</a>
                                                <a class="btn btn-primary notActive" data-toggle="fun" data-title="U">Unknown</a>
                                            </div>
                                            <input type="hidden" name="fun" class="fun">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </aside>
    <footer></footer>
}

